[Unit]
Description=MedPally web deployment
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/medpally/deploy/oracle
ExecStart=/usr/bin/docker compose --env-file .env -f compose.yaml up -d --remove-orphans
ExecReload=/usr/bin/docker compose --env-file .env -f compose.yaml up -d --build --remove-orphans
ExecStop=/usr/bin/docker compose --env-file .env -f compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
